
header, footer, section, article, nav, aside {
  display: block;
}

body {
  font-family: "Inconsolata", monospace;
  overflow-y: scroll;
}

h1 {
  font-size: 35px;
  line-height: 30px;
  text-align: center;
}

h2 {
  font-size: 31px;
  line-height: 37px;
}

p {
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

footer {
  border-top: 2px solid #222;
}

blockquote {
  border-left: 3px solid #bca474;
  margin-left: 0;
  padding-left: 1em;
  text-align: center;
}

blockquote p {
  font-size: 14px;
}

a:link, a:visited {
  color: #bca474;
  text-decoration: none;
}

p a:hover, a:active {
  text-decoration: none;
  opacity: .5;
}

.project {
  font-size: 18px;
}

.project a {
  color: #bca474;
}

.project a:hover, a:active {
  opacity: .5;
}

#main {
  padding: 0px;
  width: 550px;
  margin: 0 auto;
  color: #222;
  padding-top: 25px;
}

#container {
  padding: 0px;
  width: 550px;
  margin: 0 auto;
  color: #222;
}

.layout {
  padding: 0px;
  width: 550px;
  margin: 0 auto;
  color: #222;
  padding-top: 15px;
  padding-bottom: 15px;
}

.picture {
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.picture img {
  margin: 0 auto;
}

.picture a:hover, a:active {
  opacity: .75;
}

/*
------------------------------------Masthead
*/
#masthead {
  margin-bottom: 0px;
}

#masthead h1 {
  margin-bottom: 0;
}

#masthead h1 a:link, #masthead h1 a:visited {
  color: #222;
}

#masthead h1 a:hover, #masthead h1 a:active {
  outline: 0;
}

#masthead p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}

#masthead a:link, #masthead a:visited {
  color: #fff;
}

#siteDescription {
  font-size: 13px;
  color: #222;
  border-top: 1px #222;
  margin-top: 20px;
  margin-bottom: -5px;
  padding: 10px 0 0 0;
  text-align: center;
}
/*
------------------------------------NavBar
*/
#mainNav {
  border-top: 1px solid #222;
  border-bottom: 2px solid #222;
  margin-top: 20px;
  padding: 13px 0 14px 0;
  text-align: center;
}

#mainNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainNav li {
  margin: 5px;
  display: inline;
  padding: 0;
}

#mainNav a:link, #mainNav a:visited {
  padding: 0;
  font-size: 20px;
  line-height: 14px;
  margin: 0 2px;
  text-decoration: none;
  color: #bca474;
}

#mainNav a:hover, #mainNav a:active {
  outline: none;
  text-decoration-style: none;
  opacity: .5;
}

#mainNav a.icon:hover {

  opacity: .5;

}

/*
------------------------------------Footer
*/

#sitemeta {
  border-top: 2px solid #222;
  color: #222;
  padding: 20px 0 32px 0;
  position: absolute;
}

#sitemeta p {
  margin: 0;
}

#sitemeta a:link, #sitemeta a:visited {
  color: #222;
  font-weight: bold;
}
